div{
    border: 0px red solid;
}

body {

}

.clear{
    clear: both;
}

.red{
    color: red;
}
.form-group{
    height: 35px;
}

.form-group input{
    width: 50%;
}

.code_prom{
    font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; cursor: pointer
}

.green{
    color: green;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
