* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
    background-color: #e0ebeb;
}

div{
    border: 0px red solid;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
    background-color: #c1d7d7;
    border-top: 1px solid #b3b3b3;
}

.clear{
    clear: both;
}

.red{
    color: red;
}
.form-group{
    height: 35px;
}

.form-group input{
    width: 50%;
}

.code_prom{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    cursor: pointer;
    height: 18px;
    //border: 1px solid red;
}
.code_prom_none{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    cursor: pointer;
    height: 26px;
    //border: 1px solid red;
}

.green{
    color: green;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
.white_bg{
    background-color: white;
}
.xml_check{
    margin: 0;
    padding: 0;
}

.block_xml_check{
    width: 20px;
    float: left;
    margin-top: -7px;
}

.block_button{
    width: 50%;
    float:right;
    margin: 10px;
}
.logo{
    float: left;
    color: #3e8f3e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    width: 170px;
}
.logo_color{
    color: #008FBF;
}

.block_xml_parse{
    width: 70%;
    margin: 0 auto
}

.block_xml_form{
    width: 80%;
    margin: 0 auto
}

.preloader{
    width: 100px;
    padding-top: 150px;
    margin: 0 auto;
    display: none
}
.menu_top{
    background-color: #d0e1e1;
    border: 1px solid #cccccc
}
.border_block{
    border: 1px solid #cccccc;
}
.copyright{
    float:right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #2b669a;
    margin-right: 10px;
    padding: 5px;
}

.active{
    background-color:  #eff5f5;
}
.navbar-nav li a:hover{
    background-color:  #eff5f5;
}

.all_checkbox{
    font-weight: bold;
}

#all_checkbox{
    color: #2b669a;
    background-color: #2aabd2;
}
