div{
    border: 0px red solid;
}

body {

}

.clear{
    clear: both;
}

.red{
    color: red;
}
.form-group{
    height: 35px;
}

.form-group input{
    width: 50%;
}

.code_prom{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    cursor: pointer
}

.green{
    color: green;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
.white_bg{
    background-color: white;
}
.xml_check{
    position:absolute;
    left: 14%;
}
.block_button{
    width: 50%;
    float:right;
    margin: 10px;
}
.logo{
    float: right;
    margin-top: -30px;
    color: #3e8f3e;
    font-weight: bold;
}
.logo_color{
    color: #008FBF;
}

.block_xml_parse{
    width: 70%;
    margin: 0 auto
}

.block_xml_form{
    width: 80%;
    margin: 0 auto
}

.preloader{
    width: 100px;
    padding-top: 150px;
    margin: 0 auto;
    display: none
}
